---
# based on https://github.com/mvdan/github-actions-golang
name: test
permissions:
  contents: read

on:
  pull_request:
    branches: ["main"]
    paths-ignore: ["docs/**"]

  push:
    branches: ["main"]
    paths-ignore: ["docs/**"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Download go dependencies
        run: make download

      - name: Lints all code with golangci-lint
        run: make lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Download go dependencies
        run: make download

      - name: Runs all tests
        run: make test

  cookiecutter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version-file: ./go.mod
          cache: true

      - name: Download go dependencies
        run: make download

      - name: Install Cookiecutter
        run: pip install cookiecutter

      - name: Login to Pulumi local backend
        run: pulumi login --local

      - name: Cookiecutter test
        env:
          PULUMI_CONFIG_PASSPHRASE: k8s-on-hetzner-with-talos-rockz
        run: make test-cookiecutter

      - name: Test execute pulumi commands
        env:
          PULUMI_CONFIG_PASSPHRASE: k8s-on-hetzner-with-talos-rockz
          HCLOUD_TOKEN: oooooooooooo-hetzner-dummy-token-with-64-characters-oooooooooooo
          K8S_HCLOUD_TOKEN: oooooooooooo-hetzner-dummy-token-with-64-characters-oooooooooooo
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pulumi --cwd ./my_awesome_project config set --type bool --path hcloud-k8s:node_pools.skip_auto_scaler_discovery true
          pulumi --cwd ./my_awesome_project preview
